<html>
	<body>
		<head>	

		<title>Rock, Paper, Scissors</title>
	
				<link rel="stylesheet" type="text/css" href="css/rockpaperscissors.css">
			</head>
			
			<nav id='cssmenu'>
	
			</nav>

<section class="title">
	<br><br><br><br><br><br><br><br><br><br>
		<a href="#images"><img src="../images/logo.jpg"></a>
	<br><br><br><br><br><br><br><br><br><br><br><br><br><br>
</section>

	<a name="images">
	</a><section class='choice'>
	<hr>
		<h2 class="result">Choose your weapon!!</h2>
			<br><br><br><br>
				<img data-gesture="rock" src='../images/rock.png' height="200" width="200">
				<img data-gesture="paper" src='../images/paper.png'>
				<img data-gesture="scissors" src='../images/scissors.png'>
	<br><br><br><br><br><br>
<hr>
</section>
<br><br><br><br>

<footer>
  <p>&copy; Copyright 2014, Craig Horsborough</p>
</footer>


<script src="javascript/jquery.js"></script>

<script src="javascript/RockPaperScissors.js"></script>



<script src="javascript/game.js"></script>




	</body>
</html>