<html>
	<body>
		<head>	

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>

		<title>Rock, Paper, Scissors</title>
	
				<link rel="stylesheet" type="text/css" href="css/rockpaperscissors.css">
			</head>
			
			<nav id='cssmenu'>
	
			</nav>

<section class="title">
	<br><br><br><br><br><br><br><br><br><br>
		<a href="#images"><img src="../images/logo.jpg"></a>
	<br><br><br><br><br><br><br><br><br><br><br><br><br><br>
</section>

	<a id="images">
	</a>
	<section class='choice'>
	<hr>
		<h1>Choose your weapon!!</h1>
			<br><br><br><br>
				<img data-gesture="Rock" src='../images/rock.png' height="200" width="200">
				<img data-gesture="Paper" src='../images/paper.png'>
				<img data-gesture="Scissors" src='../images/scissors.png'>
			<h2	class="result"></h2>
		<h3 class="opp_choice"><h3>

			<h3 class="player_choice"><h3>
	<br><br><br><br><br><br>
<hr>
</section>
<br><br><br><br>

<footer>
  <p>&copy; Copyright 2014, Craig Horsborough</p>
</footer>


<script src="javascript/jquery.js"></script>
<script src="javascript/RockPaperScissors.js"></script>
<script src="javascript/game.js"></script>




	</body>
</html>